html {
    height: 100%;
    width: 100%;
    background-color: ghostwhite;
    scroll-behavior: smooth;
  }

body{
    text-align: center;
}

.flex {
    display:flex;
    justify-content:space-around;
    flex-direction:column;
    text-align: center;
    align-items:space-aroud;
}

#fourth_mid div{
    display:flex;
    justify-content:center;"
}

#fourth div{
    padding-top:20px;
    padding-bottom:20px;
}

.download_for_iOS{
    color: white;
    border-radius: 150px;
    width: 170px; 
    height: 40px; 
    background-color: #4ecd9c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download_for_iOS:hover{
    background-color: #136651;
}

.download_for_Mac{
    color: white;
    border-radius: 150px;
    width: 170px; 
    height: 40px; 
    background-color: rgb(77, 115, 241);
    display: flex;
    align-items: center;
    justify-content: center;
}

.download_for_Mac:hover{
    background-color: #133266;
}

.container{
    display: flex; 
    justify-content: center;
}

.download_for_iOS{
    color: white;
    border-radius: 150px;
    width: 170px; 
    height: 40px; 
    background-color: #4ecd9c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download_for_iOS:hover{
    background-color: #136651;
}

.download_for_Mac{
    color: white;
    border-radius: 150px;
    width: 170px; 
    height: 40px; 
    background-color: rgb(77, 115, 241); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.download_for_Mac:hover{
    background-color: #133266;
}

footer{
    background-color: #F2F2F2; 
}

