html {
    height: 100%;
    width: 100%;
    background-color: ghostwhite;
    scroll-behavior: smooth;
  }

body{
    text-align: center;
}

.container{
    display: flex; 
    justify-content: center;
}

footer{
    background-color: #F2F2F2; 
}
